html,body {
	height: 100%;
	margin: 0;
}
/* color #f1c40f
 */
 body {
	margin: 0;
	color: #000;
	min-width:px;
	font: 17px , helvetica, sans-serif;
	-webkit-text-size-adjust: 100%;
}
h2{
	margin:0;
}
.pop-up{
	display: block;
	width: 100%;
	height: 100vh;
	top:0;
	z-index: 2;
	left: 0;
}
.pop-up .pop-up-back{
	display: block;
	width: 100%;
	height: 100vh;
	background-color: rgba(0,0,0,0.3);

}
.pop-up .pop-up-cont {
	position:absolute;
	max-width: 400px;
	left: 50%;
	top: 30%;
	transform: translate(-50%, -30%);
	background-color:#252525 ;
}
.pop-up .pop-up-cont form{
	padding: 0px 40px 20px;


}

.pop-up .pop-up-cont h2{
    color: #f1c40f;
    text-align: center;
    padding: 17px 0px;
    margin-bottom: 20px;
    background-image: url(../img/pop-up-head-back.png);
    background-repeat-y: repeat;
    background-position: center;
    background-repeat: no-repeat;	
} 
.pop-up .pop-up-cont form .input-form-pop{
	border: 0;
	border-bottom: 1px solid #f1c40f;
	color: #f1c40f;
	padding: 10px 5px;
	width: 100%;
	outline: 0;
	background:transparent;
	box-sizing: border-box;
	margin-bottom: 10px;

}
 .pop-up .pop-up-cont form .input-form-pop::placeholder {
	color: #f1c40f;
}

.pop-up .pop-up-cont form .pop-up-but{
	background: #f1c40f;
	border-radius: 20px;
	text-align: center;
	font-style: italic;
	width: 100%;
	font-weight: bold;
	padding: 10px 0px;
	transition: 0.3s ease-in-out;
	font-size: 16px;
	margin: 10px 0px;
	outline: 0;
	border: 0;
}
.pop-up .pop-up-cont form .pop-up-but:hover{
	cursor: pointer;
	background:#b79408;

}
.pop-up .pop-up-cont form .pop-up-but:active{
	transform: scale(0.97);
}
